
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#ffffff;
    color:#111111;
}

header{
    background:#111111;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
}

nav{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav h2{
    color:#c1121f;
    font-size:28px;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#c1121f;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75));
    color:white;
    padding:20px;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:35px;
    line-height:1.7;
}

.btn{
    display:inline-block;
    background:#c1121f;
    color:white;
    text-decoration:none;
    padding:16px 40px;
    border-radius:50px;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    background:white;
    color:#c1121f;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    gap:18px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

}

.featured{
    padding:100px 10%;
    text-align:center;
}

.featured h2{
    font-size:40px;
    margin-bottom:50px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
    background:#f5f5f5;
}

.card h3{
    margin:20px 0 10px;
}

.card p{
    color:#c1121f;
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;
}

.about-preview{
    background:#111111;
    color:white;
    text-align:center;
    padding:100px 10%;
}

.about-preview h2{
    color:#c1121f;
    margin-bottom:25px;
    font-size:40px;
}

.about-preview p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

footer{
    background:#000;
    color:white;
    text-align:center;
    padding:40px 20px;
}

footer h3{
    color:#c1121f;
    margin-bottom:10px;
}
